# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# SCSS compilation
*.css.map

# Keep compiled theme.css (required for Obsidian)
!theme.css

# Exclude macOS Finder (System Explorer) View States
.DS_Store
